$color-caffe: #BF9F93;
$color-light: #F2E4DC;
.cartWrapper {
    margin-bottom: 30px;
    h1 {
        margin-bottom: 10px;
    }
    .openCartBtn {
        padding: 10px;
        background: $color-caffe;
        color: $color-light;
        font-size: 18px;
        border: none;
        cursor: pointer;
    }
    .hidden {
        display: none;
    }
    .productListWrapper{
        table {
            width: 100%;
            background: $color-caffe;
            padding: 10px 0;
        }
        tbody {
            background: #ffffff;
        }
        .tableHeadings {
            justify-content: space-around;
            text-align: center;
            th {
                grid-row: 1;
                justify-self: center;
            }
        }
        .productItem, .tableHeadings {
            display: grid;
            grid-template-columns: repeat(6,1fr);
        }
    }
    .cartSummary {
        margin: 20px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        span {
            font-weight: bold;
        }
        .cartTotal {
            background: $color-caffe;
            margin: 10px;
            padding: 20px 50px;
        }
    }
}



