$color-caffe: #BF9F93;
.cartWrapper {
    h1 {
        margin-bottom: 10px;
    }
    button {
        padding: 10px;
        background: $color-caffe;
        border: none;
        margin-bottom: 10px;
    }
    .productListWrapper{
        table {
        width: 100%;
        background: $color-caffe;
        padding: 10px 0;
        }
        tbody {
            background: #ffffff;
        }
        .tableHeadings {
            display: flex;
            justify-content: space-around;
            text-align: center;
        }
    }
    .cartSummary {
        margin: 20px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        span {
            font-weight: bold;
        }
        .cartTotal {
            background: $color-caffe;
            margin: 10px;
            padding: 20px 50px;
        }
    }
}



