/* Color Theme Swatches in Hex */
$color-brown: #8C441B;
$color-light: #F2E4DC;
$color-caffe: #BF9F93;
$color-dark: #400101;

/*GENERAL STYLES*/
body {
    background: $color-light;
    color: $color-dark;
}
.App {
    padding: 20px 30px;
}


