@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
    &::before, &::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  }
  
  body {
    font-family: 'Quicksand', sans-serif;
  }