$color-caffe: #BF9F93;
$color-light: #F2E4DC;
   tr {
        display: flex;
        justify-content: space-around;
        align-items: center;
    } 
    .itemImage {
        width: 100px;
        height: auto;
    }
    .shopCounter input {
        width: 50px;
    }
    .cart-table-cell {
        grid-row: 1;
        justify-self: center;
    }
    .deleteBtn {
        padding: 5px 10px;
        font-size: 20px;
        background-color: $color-caffe;
        color: $color-light;
        border: none;
        cursor: pointer;
    }
    .productItem {
        display: flex;
        align-items: center;
    }